{% extends "base.html.twig" %}

{% block body %}
    <h3>Esempio di utilizzo di Doctrine:</h3>
    
    <h3>Inserimento persona</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <br/>
    <h3>Elenco persone</h3>
{% endblock %}
