<!doctype html>
<html lang="en">
    <head>
        <title>ADMIN</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="Docs, a Simple DMS and Storage System">
        <meta name="keywords" content="HTML5, CSS3, jQuery, Bootstrap, PHP, Codeigniter, ElasticSearch, Heroku, FileStack">
        <meta http-equiv="X-UA-Compatibible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- Datagrid -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- TODO: Custom CSS -->

    </head>
    <body>
        <!-- fine header --------------------------------------------->


        <!-- inizio navbar ------------------------------------------->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand">
                <img src="{{ asset('img/test.png') }}" width="40" height="40" class="d-inline-block align-middle" alt="logo">
                <span class="logged-user ml-5"><i class="fa fa-user mr-2" aria-hidden="true"></i>utente</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home                                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/tools">Strumenti                                            </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/home/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- fine navbar --------------------------------------------->


        <!-- inizio footer ------------------------------------------->

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <!-- Datagrid -->
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>

        <!-- TODO: custom scripts -->

    </body>
</html>

